## 1. Setup

# ETL: Silver → Gold (Star Schema)

In [14]:
import pandas as pd
import os
from sqlalchemy import create_engine, text

In [15]:
db_host = os.getenv('DB_HOST', 'localhost')
engine = create_engine(f"postgresql://postgres:postgres@{db_host}:5432/airbnb")
engine

Engine(postgresql://postgres:***@localhost:5432/airbnb)

## 2. Schema Setup

In [16]:
with engine.connect() as conn:
    conn.execute(text("DROP SCHEMA IF EXISTS gold CASCADE"))
    conn.execute(text("CREATE SCHEMA gold"))
    conn.commit()

print("Schema gold recriado com sucesso")

Schema gold recriado com sucesso

## 3. Dimensões

In [17]:
sql_dim_hosts = text("""
CREATE TABLE gold.dim_hosts AS
SELECT 
    ROW_NUMBER() OVER (ORDER BY host_id) AS srk_host_id,
    host_id AS host_id_original,
    MAX(host_name) AS host_name,
    MAX(host_response_time) AS host_response_time,
    MAX(host_response_rate) AS host_response_rate,
    BOOL_OR(host_is_superhost) AS host_is_superhost,
    MAX(host_listings_count) AS host_listings_count
FROM silver.airbnb_2019
GROUP BY host_id
""")

with engine.connect() as conn:
    conn.execute(sql_dim_hosts)
    conn.execute(text("ALTER TABLE gold.dim_hosts ADD PRIMARY KEY (srk_host_id)"))
    conn.execute(text("CREATE INDEX idx_dim_hosts_original ON gold.dim_hosts(host_id_original)"))
    conn.commit()

print("✓ dim_hosts criada")

✓ dim_hosts criada

In [18]:
sql_dim_locations = text("""
CREATE TABLE gold.dim_locations AS
SELECT 
    ROW_NUMBER() OVER (ORDER BY latitude, longitude) AS srk_location_id,
    latitude,
    longitude
FROM (
    SELECT DISTINCT latitude, longitude
    FROM silver.airbnb_2019
) unique_locations
""")

with engine.connect() as conn:
    conn.execute(sql_dim_locations)
    conn.execute(text("ALTER TABLE gold.dim_locations ADD PRIMARY KEY (srk_location_id)"))
    conn.execute(text("CREATE UNIQUE INDEX idx_dim_locations_coords ON gold.dim_locations(latitude, longitude)"))
    conn.commit()

print("✓ dim_locations criada")

✓ dim_locations criada

In [19]:
sql_dim_properties = text("""
CREATE TABLE gold.dim_properties AS
WITH property_hash AS (
    SELECT 
        MD5(host_id::text || '_' || room_type || '_' || property_type || '_' || 
            ROUND(latitude::numeric, 5)::text || '_' || ROUND(longitude::numeric, 5)::text) AS property_key,
        host_id,
        latitude,
        longitude,
        property_type,
        room_type,
        accommodates,
        bathrooms,
        bedrooms,
        beds,
        bed_type,
        instant_bookable,
        is_business_travel_ready,
        cancellation_policy,
        n_amenities,
        ROW_NUMBER() OVER (PARTITION BY MD5(host_id::text || '_' || room_type || '_' || property_type || '_' || 
            ROUND(latitude::numeric, 5)::text || '_' || ROUND(longitude::numeric, 5)::text) ORDER BY ano DESC, mes DESC) AS rn
    FROM silver.airbnb_2019
)
SELECT 
    ROW_NUMBER() OVER (ORDER BY property_key) AS srk_property_id,
    ROW_NUMBER() OVER (ORDER BY property_key) AS property_id_original,
    h.srk_host_id,
    l.srk_location_id,
    ph.property_type,
    ph.room_type,
    ph.accommodates,
    ph.bathrooms,
    ph.bedrooms,
    ph.beds,
    ph.bed_type,
    ph.instant_bookable,
    ph.is_business_travel_ready,
    ph.cancellation_policy,
    ph.n_amenities
FROM property_hash ph
INNER JOIN gold.dim_hosts h ON ph.host_id = h.host_id_original
INNER JOIN gold.dim_locations l ON ph.latitude = l.latitude AND ph.longitude = l.longitude
WHERE ph.rn = 1
""")

with engine.connect() as conn:
    conn.execute(sql_dim_properties)
    conn.execute(text("ALTER TABLE gold.dim_properties ADD PRIMARY KEY (srk_property_id)"))
    conn.execute(text("ALTER TABLE gold.dim_properties ADD FOREIGN KEY (srk_host_id) REFERENCES gold.dim_hosts(srk_host_id)"))
    conn.execute(text("ALTER TABLE gold.dim_properties ADD FOREIGN KEY (srk_location_id) REFERENCES gold.dim_locations(srk_location_id)"))
    conn.execute(text("CREATE INDEX idx_dim_properties_host_id ON gold.dim_properties(srk_host_id)"))
    conn.execute(text("CREATE INDEX idx_dim_properties_location_id ON gold.dim_properties(srk_location_id)"))
    conn.commit()

print("✓ dim_properties criada")

✓ dim_properties criada

In [20]:
sql_dim_reviews = text("""
CREATE TABLE gold.dim_reviews AS
WITH property_reviews AS (
    SELECT 
        MD5(host_id::text || '_' || room_type || '_' || property_type || '_' || 
            ROUND(latitude::numeric, 5)::text || '_' || ROUND(longitude::numeric, 5)::text) AS property_key,
        number_of_reviews,
        review_scores_rating,
        review_scores_accuracy,
        review_scores_cleanliness,
        review_scores_checkin,
        review_scores_communication,
        review_scores_location,
        review_scores_value,
        ROW_NUMBER() OVER (PARTITION BY MD5(host_id::text || '_' || room_type || '_' || property_type || '_' || 
            ROUND(latitude::numeric, 5)::text || '_' || ROUND(longitude::numeric, 5)::text) ORDER BY ano DESC, mes DESC) AS rn
    FROM silver.airbnb_2019
),
property_keys AS (
    SELECT 
        p.srk_property_id,
        p.srk_host_id,
        MD5(h.host_id_original::text || '_' || p.room_type || '_' || p.property_type || '_' || 
            ROUND(l.latitude::numeric, 5)::text || '_' || ROUND(l.longitude::numeric, 5)::text) AS property_key
    FROM gold.dim_properties p
    INNER JOIN gold.dim_hosts h ON p.srk_host_id = h.srk_host_id
    INNER JOIN gold.dim_locations l ON p.srk_location_id = l.srk_location_id
)
SELECT 
    ROW_NUMBER() OVER (ORDER BY pk.srk_property_id) AS srk_review_id,
    pk.srk_host_id,
    pk.srk_property_id,
    pr.number_of_reviews,
    pr.review_scores_rating,
    pr.review_scores_accuracy,
    pr.review_scores_cleanliness,
    pr.review_scores_checkin,
    pr.review_scores_communication,
    pr.review_scores_location,
    pr.review_scores_value
FROM property_keys pk
INNER JOIN property_reviews pr ON pk.property_key = pr.property_key
WHERE pr.rn = 1
""")

with engine.connect() as conn:
    conn.execute(sql_dim_reviews)
    conn.execute(text("ALTER TABLE gold.dim_reviews ADD PRIMARY KEY (srk_review_id)"))
    conn.execute(text("ALTER TABLE gold.dim_reviews ADD FOREIGN KEY (srk_host_id) REFERENCES gold.dim_hosts(srk_host_id)"))
    conn.execute(text("ALTER TABLE gold.dim_reviews ADD FOREIGN KEY (srk_property_id) REFERENCES gold.dim_properties(srk_property_id)"))
    conn.commit()

print("✓ dim_reviews criada")

✓ dim_reviews criada

In [21]:
sql_fact_ocorrencias = text("""
CREATE TABLE gold.fact_ocorrencias AS
WITH source_with_key AS (
    SELECT 
        s.*,
        MD5(s.host_id::text || '_' || s.room_type || '_' || s.property_type || '_' || 
            ROUND(s.latitude::numeric, 5)::text || '_' || ROUND(s.longitude::numeric, 5)::text) AS property_key
    FROM silver.airbnb_2019 s
),
property_keys AS (
    SELECT 
        p.srk_property_id,
        p.srk_host_id,
        p.srk_location_id,
        MD5(h.host_id_original::text || '_' || p.room_type || '_' || p.property_type || '_' || 
            ROUND(l.latitude::numeric, 5)::text || '_' || ROUND(l.longitude::numeric, 5)::text) AS property_key
    FROM gold.dim_properties p
    INNER JOIN gold.dim_hosts h ON p.srk_host_id = h.srk_host_id
    INNER JOIN gold.dim_locations l ON p.srk_location_id = l.srk_location_id
)
SELECT 
    ROW_NUMBER() OVER (ORDER BY s.ano, s.mes, pk.srk_host_id) AS srk_fact_id,
    pk.srk_host_id,
    pk.srk_property_id,
    pk.srk_location_id,
    r.srk_review_id,
    s.price,
    s.security_deposit,
    s.cleaning_fee,
    s.guests_included,
    s.minimum_nights,
    s.ano,
    s.mes
FROM source_with_key s
INNER JOIN property_keys pk ON s.property_key = pk.property_key
INNER JOIN gold.dim_reviews r ON r.srk_property_id = pk.srk_property_id
""")

with engine.connect() as conn:
    conn.execute(sql_fact_ocorrencias)
    conn.execute(text("ALTER TABLE gold.fact_ocorrencias ADD PRIMARY KEY (srk_fact_id)"))
    conn.execute(text("ALTER TABLE gold.fact_ocorrencias ADD FOREIGN KEY (srk_host_id) REFERENCES gold.dim_hosts(srk_host_id)"))
    conn.execute(text("ALTER TABLE gold.fact_ocorrencias ADD FOREIGN KEY (srk_property_id) REFERENCES gold.dim_properties(srk_property_id)"))
    conn.execute(text("ALTER TABLE gold.fact_ocorrencias ADD FOREIGN KEY (srk_location_id) REFERENCES gold.dim_locations(srk_location_id)"))
    conn.execute(text("ALTER TABLE gold.fact_ocorrencias ADD FOREIGN KEY (srk_review_id) REFERENCES gold.dim_reviews(srk_review_id)"))
    conn.commit()

print("✓ fact_ocorrencias criada")

✓ fact_ocorrencias criada

## 4. Tabela Fato

## 5. Validação

In [22]:
validation = pd.read_sql("""
    SELECT 
        'dim_hosts' AS tabela, COUNT(*) AS registros FROM gold.dim_hosts
    UNION ALL
    SELECT 'dim_locations', COUNT(*) FROM gold.dim_locations
    UNION ALL
    SELECT 'dim_properties', COUNT(*) FROM gold.dim_properties
    UNION ALL
    SELECT 'dim_reviews', COUNT(*) FROM gold.dim_reviews
    UNION ALL
    SELECT 'fact_ocorrencias', COUNT(*) FROM gold.fact_ocorrencias
""", engine)

print("Totais por tabela:")
print(validation.to_string(index=False))

grouping_check = pd.read_sql("""
    SELECT 
        COUNT(*) AS total_facts,
        COUNT(DISTINCT srk_property_id) AS unique_properties,
        ROUND(COUNT(*)::numeric / NULLIF(COUNT(DISTINCT srk_property_id), 0), 2) AS avg_occurrences_per_property
    FROM gold.fact_ocorrencias
""", engine)

print("\nValidação de agrupamento:")
print(grouping_check.to_string(index=False))

if grouping_check['avg_occurrences_per_property'][0] > 1:
    print(f"\n✓ Propriedades reutilizadas corretamente (média: {grouping_check['avg_occurrences_per_property'][0]}x)")
else:
    print("\n✗ Erro: modelo dimensional falhou")

integrity_check = pd.read_sql("""
    SELECT 
        'Facts sem Property' AS verificacao, COUNT(*) AS problemas
    FROM gold.fact_ocorrencias WHERE srk_property_id IS NULL
    UNION ALL
    SELECT 'Facts sem Host', COUNT(*) FROM gold.fact_ocorrencias WHERE srk_host_id IS NULL
    UNION ALL
    SELECT 'Facts sem Location', COUNT(*) FROM gold.fact_ocorrencias WHERE srk_location_id IS NULL
    UNION ALL
    SELECT 'Facts sem Review', COUNT(*) FROM gold.fact_ocorrencias WHERE srk_review_id IS NULL
""", engine)

print("\nIntegridade referencial:")
print(integrity_check.to_string(index=False))

if integrity_check['problemas'].sum() == 0:
    print("\n✓ Todas as FKs íntegras")
else:
    print("\n⚠ Existem NULLs nas FKs")

Totais por tabela:
          tabela  registros
       dim_hosts       9090
   dim_locations      21147
     dim_reviews      15610
  dim_properties      15610
fact_ocorrencias      98783

Validação de agrupamento:
 total_facts  unique_properties  avg_occurrences_per_property
       98783              15610                          6.33

✓ Propriedades reutilizadas corretamente (média: 6.33x)

Integridade referencial:
       verificacao  problemas
Facts sem Property          0
  Facts sem Review          0
Facts sem Location          0
    Facts sem Host          0

✓ Todas as FKs íntegras

Integridade referencial:
       verificacao  problemas
Facts sem Property          0
  Facts sem Review          0
Facts sem Location          0
    Facts sem Host          0

✓ Todas as FKs íntegras