In [2]:
import pandas as pd
from sqlalchemy import create_engine, text

In [3]:
engine = create_engine("postgresql://postgres:postgres@localhost:5432/airbnb")
engine

Engine(postgresql://postgres:***@localhost:5432/airbnb)

In [4]:
with engine.connect() as conn:
    conn.execute(text("CREATE SCHEMA IF NOT EXISTS gold;"))
    conn.commit()

In [ ]:
from sqlalchemy import text

create_sql = text("""

-- Criar schema gold
CREATE SCHEMA IF NOT EXISTS gold;

------------------------------
-- DIM HOSTS
------------------------------

DROP TABLE IF EXISTS gold.dim_hosts CASCADE;

CREATE TABLE gold.dim_hosts (
    srk_host_id BIGINT PRIMARY KEY,      -- surrogate key DW
    host_id_original BIGINT,             -- id natural do Airbnb (importante!)
    host_name TEXT,
    host_response_time TEXT,
    host_response_rate NUMERIC,
    host_is_superhost BOOLEAN,
    host_listings_count INT
);

------------------------------
-- DIM LOCATIONS
------------------------------

DROP TABLE IF EXISTS gold.dim_locations CASCADE;

CREATE TABLE gold.dim_locations (
    srk_location_id SERIAL PRIMARY KEY,
    latitude NUMERIC NOT NULL,
    longitude NUMERIC NOT NULL,
    UNIQUE(latitude, longitude)
);

------------------------------
-- DIM PROPERTIES
------------------------------

DROP TABLE IF EXISTS gold.dim_properties CASCADE;

CREATE TABLE gold.dim_properties (
    srk_property_id SERIAL PRIMARY KEY,
    srk_host_id BIGINT REFERENCES gold.dim_hosts(srk_host_id),
    srk_location_id INT REFERENCES gold.dim_locations(srk_location_id),
    property_type TEXT,
    room_type TEXT,
    accommodates INT,
    bathrooms NUMERIC,
    bedrooms INT,
    beds INT,
    bed_type TEXT,
    instant_bookable BOOLEAN,
    is_business_travel_ready BOOLEAN,
    cancellation_policy TEXT,
    n_amenities INT
);

CREATE INDEX IF NOT EXISTS idx_dim_properties_host_id 
    ON gold.dim_properties(srk_host_id);

CREATE INDEX IF NOT EXISTS idx_dim_properties_location_id 
    ON gold.dim_properties(srk_location_id);

------------------------------
-- DIM REVIEWS
------------------------------

DROP TABLE IF EXISTS gold.dim_reviews CASCADE;

CREATE TABLE gold.dim_reviews (
    srk_review_id SERIAL PRIMARY KEY,
    srk_host_id BIGINT REFERENCES gold.dim_hosts(srk_host_id),
    srk_property_id INT REFERENCES gold.dim_properties(srk_property_id),
    number_of_reviews INT,
    review_scores_rating NUMERIC,
    review_scores_accuracy NUMERIC,
    review_scores_cleanliness NUMERIC,
    review_scores_checkin NUMERIC,
    review_scores_communication NUMERIC,
    review_scores_location NUMERIC,
    review_scores_value NUMERIC
);

------------------------------
-- FACT OCORRENCIAS
------------------------------

DROP TABLE IF EXISTS gold.fact_ocorrencias CASCADE;

CREATE TABLE gold.fact_ocorrencias (
    srk_fact_id SERIAL PRIMARY KEY,

    srk_host_id BIGINT REFERENCES gold.dim_hosts(srk_host_id) ON DELETE SET NULL,
    srk_property_id INT REFERENCES gold.dim_properties(srk_property_id) ON DELETE SET NULL,
    srk_location_id INT REFERENCES gold.dim_locations(srk_location_id) ON DELETE SET NULL,
    srk_review_id INT REFERENCES gold.dim_reviews(srk_review_id) ON DELETE SET NULL,

    price NUMERIC,
    security_deposit NUMERIC,
    cleaning_fee NUMERIC,
    guests_included INT,
    minimum_nights INT,
    ano INT,
    mes INT
);

""")

with engine.connect() as conn:
    conn.execute(create_sql)
    conn.commit()